wikipedia.dat
wikipedia.zip
example.zip
timeusage.zip
**/.idea
**/target
/wikipedia/src/main/resources/wikipedia/wikipedia.dat
slides
*.zip
*.dat
**/metastore_db/
stackoverflow/src/main/resources/stackoverflow/stackoverflow.csv
*.csv
timeusage/src/main/resources/timeusage/atumssum.csv
